---
import CardExperience from "src/components/CardExperience.astro";
import CardValue from "src/components/CardValue.astro";
import Mycard from "src/components/mycard.astro";
import Spacer from "src/components/Spacer.astro";
import Layout from "src/layouts/Layout.astro";
import { experiences } from "src/data/experiences";
import { formations } from "src/data/formations";
import CardFormation from "src/components/CardFormation.astro";
---

<Layout>
  <section class="flex justify-center w-full">
    <div class="hidden lg:inline">
      <Mycard />
    </div>
    <div class="flex flex-col items-center w-full lg:w-1200 mx-20">
      <div class="mt-135">
        <ul class="flex flex-col space-y-10 text-center text-[15px] mx-20">
          <a href="#valeurs" class="summary-bloc transition-colors rounded-10"
            >Mes valeurs</a
          >
          <a href="#pro" class="summary-bloc rounded-10"
            >Expériences professionnelles</a
          >
          <a href="#formations" class="summary-bloc rounded-10">Formations</a>
        </ul>
      </div>
      <Spacer id="valeurs" />
      <div class="mx-20">
        <h2
          class="text-[30px] md:text-[40px] lg:text-[50px] text-center font-semibold mb-30"
        >
          Mes valeurs
        </h2>
        <div
          class="flex flex-col md:flex-row items-center md:space-x-20 xl:space-x-40 space-y-20 md:space-y-0"
        >
          <CardValue
            title="Rigueur"
            description="Je sais garder mon sang-froid et faire preuve de professionnalisme en toutes circonstances."
          />
          <CardValue
            title="Ouverture d’esprit"
            description="J’aime me tenir informé des dernières nouveautés et enrichir continuellement mes connaissances."
          />
          <CardValue
            title="Agilité"
            description="Je fais preuve d’une grande adaptabilité et suis capable de m’ajuster rapidement à toute nouvelle situation."
          />
        </div>
      </div>
      <Spacer id="pro" />
      <div>
        <h2
          class="text-[30px] md:text-[40px] lg:text-[50px] text-center font-semibold"
        >
          Expériences professionnelles
        </h2>
        {experiences.map((exp) => <CardExperience {...exp} />)}
      </div>
      <Spacer id="formations" />
      <h2
        class="text-[30px] md:text-[40px] lg:text-[50px] text-center font-semibold"
      >
        Formations
      </h2>
      <div class="flex flex-col space-y-40 mt-20 lg:mt-50">
        {formations.map((formation) => <CardFormation {...formation} />)}
      </div>
    </div>
  </section>
</Layout>
