---
import Layout from "src/layouts/Layout.astro";
import Summary from "src/components/SummaryLegal.astro";
const pathname = Astro.url.pathname;
---

<Layout>
  <div
    class="relative flex flex-col w-full lg:flex-row justify-center lg:items-baseline"
  >
    <div class="flex lg:inline justify-center w-full lg:w-350">
      <Summary currentPath={pathname} />
    </div>
    <section
      class="flex flex-col space-y-20 w-full max-w-1300 pt-50 lg:pt-170 font-light px-50 text-center lg:text-left"
    >
      <div class="text-[30px] text-center font-semibold">Mentions Légales</div>
      <div class="text-white/80 text-[15px]">
        Conformément aux articles 6-III et 19 de la Loi n° 2004-575 du 21 juin
        2004 pour la Confiance dans l'Économie Numérique (LCEN), il est précisé
        aux utilisateurs du site l'identité des différents intervenants dans le
        cadre de sa réalisation et de son suivi.
      </div>
      <div class="text-[20px] font-semibold">1. Éditeur du site</div>
      <div class="text-white/80 text-[15px]">
        <ul class="list-inside list-disc ml-20">
          <li>Nom de la structure : Pi-Code Studio</li>
          <li>Statut : Auto-entrepreneur</li>
          <li>Responsable de la publication : Pierre DUAULT</li>
          <li>Adresse : Acigné (35), France</li>
          <li>SIRET : 94323111800010</li>
          <li>Adresse e-mail : picode-studio@gmail.com</li>
        </ul>
      </div>
      <div class="text-[20px] font-semibold">2. Hébergement</div>
      <div class="text-white/80 text-[15px]">
        <ul class="list-inside list-disc ml-20">
          <li>Hébergeur : Netlify, Inc.</li>
          <li>
            Adresse : 44 Montgomery Street, Suite 300, San Francisco, California
            94104, USA
          </li>
          <li>
            Site web : <a href="https://www.netlify.com"
              >https://www.netlify.com</a
            >
          </li>
          <li>
            Contact : <a href="https://www.netlify.com/support"
              >https://www.netlify.com/support</a
            >
          </li>
        </ul>
      </div>
      <div class="text-[20px] font-semibold">3. Propriété intellectuelle</div>
      <div class="text-white/80 text-[15px]">
        Le contenu du site (textes, images, graphismes, logos, icônes, etc.) est
        la propriété exclusive de Pi-Code Studio sauf mention contraire, et est
        protégé par les lois françaises et internationales relatives à la
        propriété intellectuelle.
      </div>
      <div class="text-white/80 text-[15px]">
        Toute reproduction, représentation, modification, publication,
        adaptation de tout ou partie des éléments du site, quel que soit le
        moyen ou le procédé utilisé, est interdite sans l’autorisation écrite
        préalable de Pi-Code Studio.
      </div>
      <div class="text-[20px] font-semibold">4. Données personnelles</div>
      <div class="text-white/80 text-[15px]">
        Ce site ne collecte pas de données personnelles sans votre consentement
        explicite. Pour plus d'informations, veuillez consulter notre
        <a class="underline" href="/privacy">Politique de Confidentialité</a>
        (#).
      </div>
      <div class="text-[20px] font-semibold">5. Responsabilité</div>
      <div class="text-white/80 text-[15px]">
        Pi-Code Studio s'efforce de fournir sur ce site des informations aussi
        précises que possible. Toutefois, l’éditeur ne pourra être tenu
        responsable des omissions, des inexactitudes ou des carences dans la
        mise à jour.
      </div>
      <div class="text-[20px] font-semibold">6. Contact</div>
      <div class="text-white/80 text-[15px]">
        Pour toute question concernant les mentions légales, vous pouvez nous
        contacter à l’adresse suivante : picode-studio@gmail.com
      </div>
      <div class="text-white/80 text-[12px]">
        Dernière mise à jour : 10 mai 2025
      </div>
    </section>
  </div>
</Layout>
