---
import Layout from "../layouts/Layout.astro";
import Mycard from "../components/mycard.astro";
import IconChevronRight from "../components/icons/IconChevronRight.astro";

import ShopJO from "../assets/project-shopjo.webp";
import myPortfolio from "../assets/project-portfolio.webp";

import logoFigma from "../assets/stacks/figma.webp";
import logoGithub from "../assets/stacks/github.webp";
import logoHerd from "../assets/stacks/herd.webp";
import logoWireshark from "../assets/stacks/wireshark.webp";
import logoPycharm from "../assets/stacks/pycharm.webp";
import LogoPhpstorm from "../assets/stacks/phpstorm.webp";
import logoPhotoshop from "../assets/stacks/photoshop.webp";
import logoNotion from "../assets/stacks/notion.webp";
import logoVercel from "../assets/stacks/vercel.webp";
import logoTrello from "../assets/stacks/trello.webp";
import logoPhp from "../assets/stacks/php.webp";
import logoMysql from "../assets/stacks/mysql.webp";
import logoLaravel from "../assets/stacks/laravel.webp";
import logoAstro from "../assets/stacks/astro.webp";
import logoPython from "../assets/stacks/python.webp";
import logoJavascript from "../assets/stacks/javascript.webp";
import logoHtml from "../assets/stacks/html.webp";
import logoCss from "../assets/stacks/css.webp";
import logoTailwindcss from "../assets/stacks/tailwindcss.webp";
import logoDjango from "../assets/stacks/django.webp";

import CardProject from "../components/CardProject.astro";
import { MyProjects } from "../data/projects";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
---

<Layout>
	<section class="flex flex-col lg:flex-row justify-center w-full">
		<div class="hidden lg:inline">
			<Mycard />
		</div>
		<div
			class="flex flex-col space-y-30 items-center text-center w-full lg:w-1200 pt-100 lg:pt-150"
		>
			<div class="flex flex-col">
				<span class="text-40 sm:text-50 font-semibold">Mes Projets</span>
				<span class="text-12 sm:text-15 font-medium max-w-600"
					>Voici quelques projets sur lesquels j’ai travaillé pour mettre
					en pratique mes compétences techniques et ma passion pour le
					développement web.</span
				>
			</div>
			<div class="flex flex-wrap gap-30 mx-20 sm:mx-30 justify-center">
				{MyProjects.project.map((p) => <CardProject {...p} />)}
			</div>
			<div class="flex flex-col">
				<span class="text-40 sm:text-50 font-semibold">À Suivre...</span>
				<span class="text-12 sm:text-15 font-medium max-w-600"
					>D’autres projets sont en cours et arriveront prochainement.</span
				>
			</div>
			<!-- <div class="bg-tailwindcss/30"></div> -->
			<!-- <div class="bg-figma/30"></div> -->
			<!-- <div class="bg-github/30"></div> -->
			<!-- <div class="bg-astro/30"></div> -->
			<!-- <div class="bg-django/30"></div> -->
			<!-- <div class="bg-python/30"></div> -->
			<!-- <div class="bg-pycharm/30"></div> -->
			<!-- <div class="bg-trello/30"></div> -->
		</div>
	</section>
</Layout>
