---
import Layout from "@layouts/Layout.astro";
import Summary from "@components/summary-legal.astro";
const pathname = Astro.url.pathname;
---

<Layout>
   <div
      class="relative flex flex-col lg:flex-row justify-center lg:items-baseline"
   >
      <div class="w-350">
         <Summary currentPath={pathname} />
      </div>
      <section
         class="flex flex-col space-y-20 w-full max-w-1300 pt-50 lg:pt-170 font-semibold px-50 text-center lg:text-left"
      >
         <div class="text-[30px] text-center">
            Conditions Générales d’Utilisation
         </div>
         <div class="text-white/80 text-[15px]">
            Bienvenue sur le site de Pi-Code Studio. En accédant et en utilisant
            ce site, vous acceptez pleinement et sans réserve les présentes
            Conditions Générales d’Utilisation (CGU). Nous vous invitons à les
            lire attentivement.
         </div>
         <div class="text-[20px]">1. Propriété intellectuelle</div>
         <div class="text-white/80 text-[15px]">
            L’ensemble du contenu présent sur ce site (textes, images, designs,
            logos, icônes, fichiers, code source, etc.) est la propriété
            exclusive de Pi-Code Studio, sauf mention contraire, et est protégé
            par les lois françaises relatives à la propriété intellectuelle.
         </div>
         <div class="text-white/80 text-[15px]">
            Toute reproduction, représentation, diffusion ou exploitation du
            contenu, même partielle, est interdite sans autorisation préalable
            écrite.
         </div>
         <div class="text-[20px]">2. Utilisation du site</div>
         <div class="text-white/80 text-[15px]">
            <div>
               Le site de Pi-Code Studio a pour objectif de présenter les
               compétences, réalisations et services de son éditeur. Toute
               utilisation abusive du site (tentative d’intrusion, copie non
               autorisée, extraction de données, etc.) est interdite.
            </div>
         </div>
         <div class="text-[20px]">3. Liens externes</div>
         <div class="text-white/80 text-[15px]">
            Ce site peut contenir des liens vers des sites externes. Pi-Code
            Studio ne saurait être tenu responsable du contenu ou des pratiques
            de ces sites tiers.
         </div>
         <div class="text-[20px]">4. Limitation de responsabilité</div>
         <div class="text-white/80 text-[15px]">
            L’utilisateur utilise le site sous sa seule responsabilité. Pi-Code
            Studio ne peut être tenu responsable d’éventuels dommages directs ou
            indirects liés à l’utilisation ou à l’indisponibilité du site.
         </div>
         <div class="text-[20px]">5. Protection des données personnelles</div>
         <div class="text-white/80 text-[15px]">
            Ce site ne collecte pas de données personnelles sans votre
            consentement explicite. Pour plus d’informations, veuillez consulter
            notre
            <a class="underline" href="/privacy">Politique de Confidentialité</a
            >
            (#).
         </div>
         <div class="text-[20px]">6. Modification des CGU</div>
         <div class="text-white/80 text-[15px]">
            <div>
               Pi-Code Studio se réserve le droit de modifier ces CGU à tout
               moment. Les modifications seront publiées sur cette page, et il
               appartient à l’utilisateur de les consulter régulièrement.
            </div>
         </div>
         <div class="text-[20px]">7. Contact</div>
         <div class="text-white/80 text-[15px]">
            Pour toute question ou remarque concernant ces CGU, vous pouvez nous
            contacter à l’adresse suivante : picode-studio@gmail.com
         </div>
         <div class="text-white/80 text-[12px]">
            Dernière mise à jour : 6 mai 2025
         </div>
      </section>
   </div>
</Layout>
