---
import type { ProjectItem } from "../data/projects";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import IconChevronRight from "./icons/IconChevronRight.astro";
import TechBadge from "./TechBadge.astro";

const { title, url, thumbnail, items } = Astro.props;
---

<div class="bloc-card rounded-25 sm:rounded-30 p-10 sm:p-15 max-w-450 md:max-w-335 xl:max-w-500">
	<div
		class="flex items-center aspect-[16/9] overflow-hidden rounded-15 border-1 border-card-border mb-10"
	>
		<Image
			src={thumbnail}
			alt="Représentation du projet"
			class={`aspect-[${thumbnail.format}]`}
			loading="eager"
		/>
	</div>
	<span class="text-15 sm:text-20 font-semibold">{title}</span>

	<div class="flex flex-wrap justify-center gap-5 text-12 mb-20">
		{
			items.map((item: ProjectItem["project"][number]["items"][number]) => (
				<TechBadge {...item} />
			))
		}
	</div>

	<div class="flex w-full justify-center">
		<a
			href={url}
			target="_blank"
			class="flex items-center w-fit bg-card border-1 border-card-border text-12 sm:text-16 hover:bg-white/10 rounded-full text-white/70 hover:text-white leading-none py-3 sm:py-5 pl-15 sm:pl-20 pr-10 transition"
		>
			<span>Voir le Projet</span>
			<IconChevronRight />
		</a>
	</div>
</div>
