---
const { title, description } = Astro.props;
---

<div
  class="bloc-card rounded-20 flex flex-col text-center md:text-left xl:text-center justify-center h-fit md:h-250 xl:h-fit w-full md:w-200 xl:w-270 max-w-400 p-15"
>
  <p class="text-20 font-semibold">{title}</p>
  <div class="h-1 w-full bg-card-border my-10"></div>
  <p class="text-15 text-white/70">{description}</p>
</div>
