<footer
   class="mt-50 text-[12px] lg:text-[15px] font-medium z-10 text-center lg:text-left"
>
   <div class="flex justify-center w-full">
      <div class="w-[80%] h-1 bg-white/10"></div>
   </div>
   <div
      class="flex flex-col lg:flex-row justify-center items-center space-x-0 lg:space-x-50 space-y-30 lg:space-y-0 mt-40 w-full"
   >
      <div>
         <div
            class="text-[25px] font-semibold text-bleu-glacier mb-10 lg:mb-30"
         >
            Pierre.
         </div>
         <div class="text-white/80 max-w-250 xl:max-w-300">
            Développeur Full Stack passionné par l’informatique et la création
            d’expériences web et logiciel.
         </div>
      </div>
      <div>
         <div class="text-[25px] font-semibold mb-10 lg:mb-30">Raccourci</div>
         <div class="flex flex-col space-y-20 text-white/80">
            <a href="/about">A propos</a>
            <span class="cursor-not-allowed text-white/50">⏳Projets</span>
            <span class="cursor-not-allowed text-white/50">⏳Stack</span>
         </div>
      </div>
      <div>
         <div class="text-[25px] font-semibold mb-10 lg:mb-30">Légal</div>
         <div class="flex flex-col space-y-20 text-white/80">
            <a href="/privacy">Politique de confidentialité</a>
            <a href="/legal">Mentions légales</a>
            <a href="/terms">CGU</a>
         </div>
      </div>
      <div>
         <div
            class="text-[20px] font-semibold max-w-250 xl:max-w-300 mb-10 lg:mb-30"
         >
            Vous pouvez me contacter à l'adresse suivante :
         </div>
         <div
            class="flex items-center justify-center space-x-4 text-lavande-fonce"
         >
            <svg
               class="size-30 font-light"
               height="21"
               viewBox="0 0 21 21"
               width="21"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(3.5 4.5)"
               >
                  <path
                     d="m0 2v8c0 1.1045695.8954305 2 2 2h10c1.1045695 0 2-.8954305 2-2v-8c0-1.1045695-.8954305-2-2-2h-10c-1.1045695 0-2 .8954305-2 2z"
                  ></path>
                  <path d="m2 3 5 3 5-3"></path>
               </g>
            </svg>
            <a href="mailto:pierre.duault.pro@gmail.com"
               >pierre.duault.pro@gmail.com</a
            >
         </div>
      </div>
   </div>
   <div class="flex justify-center w-full my-40">
      <div class="w-[80%] h-1 bg-white/10"></div>
   </div>
   <div class="w-full text-center pb-40 text-white/80">
      Copyright © 2025 Pi-Code Studio. Tous droits réservés.
   </div>
</footer>
