---
import { Image } from "astro:assets";
import Me from "../assets/me.webp";
import IconMail from "../components/icons/IconMail.astro";
import IconPhone from "../components/icons/IconPhone.astro";
import IconLocation from "../components/icons/IconLocation.astro";
---

<div class="lg:ml-50 lg:mr-20 pt-120 h-fit flex justify-center">
   <div
      class="flex lg:flex-col space-x-10 lg:space-x-0 items-center bg-card border-card-border border-1 p-15 rounded-40 lg:w-260"
   >
      <Image
         src={Me}
         alt="Auteur du Portfolio"
         class="w-150 lg:w-300 rounded-25 bg-card border-card-border border-1"
         loading="eager"
      />
      <span class="hidden lg:inline text-[20px] font-semibold my-10"
         >Pierre DUAULT</span
      >
      <div class="hidden lg:inline h-1 w-full bg-card"></div>
      <div
         class="flex flex-col space-y-5 lg:space-y-15 lg:mt-15 text-[12px] w-full"
      >
         <!-- Mail -->
         <span class="lg:hidden text-[20px] text-center font-semibold my-10">
            Pierre DUAULT
         </span>
         <a
            target="_blank"
            href="mailto:pierre.duault.pro@gmail.com"
            class="card-item"
         >
            <IconMail class="size-25 lg:size-39 text-white/80 font-light" />
            <div class="font-medium text-white/80">
               <p class="text-white/50">MAIL</p>
               <p class="text-[11px]">pierre.duault.pro@gmail.com</p>
            </div>
         </a>
         <!-- Phone -->
         <div class="card-item">
            <IconPhone class="size-25 lg:size-39 text-white/80 font-light" />
            <div class="font-medium text-white/80">
               <p class="text-white/50">TELEPHONE</p>
               <p>+33 6 9X XX XX 88</p>
            </div>
         </div>
         <!-- Location -->
         <div class="card-item">
            <IconLocation class="size-25 lg:size-39 text-white/80 font-light" />
            <div class="font-medium text-white/80">
               <p class="text-white/50">LOCALISATION</p>
               <p>Acigne (35)</p>
            </div>
         </div>
      </div>
   </div>
</div>
