<div class="lg:ml-50 lg:mr-20 pt-120 h-fit flex justify-center">
   <div
      class="flex lg:flex-col space-x-10 lg:space-x-0 items-center bg-card border-card-border border-1 p-15 rounded-40 lg:max-w-260"
   >
      <img
         src="/assets/images/me.png"
         alt="DUAULT Pierre"
         class="w-150 lg:w-300 rounded-25 bg-card border-card-border border-1"
      />
      <p class="hidden lg:inline text-[20px] font-semibold my-10">
         Pierre DUAULT
      </p>
      <div class="hidden lg:inline h-1 w-full bg-card"></div>
      <div
         class="flex flex-col space-y-5 lg:space-y-15 lg:mt-15 text-[12px] w-full"
      >
         <!-- Mail -->
         <p class="lg:hidden text-[20px] text-center font-semibold my-10">
            Pierre DUAULT
         </p>
         <a
            target="_blank"
            href="mailto:pierre.duault.pro@gmail.com"
            class="card-item"
         >
            <svg
               class="size-25 lg:size-39 text-white/80 font-light"
               height="21"
               viewBox="0 0 21 21"
               width="21"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(3.5 4.5)"
               >
                  <path
                     d="m0 2v8c0 1.1045695.8954305 2 2 2h10c1.1045695 0 2-.8954305 2-2v-8c0-1.1045695-.8954305-2-2-2h-10c-1.1045695 0-2 .8954305-2 2z"
                  ></path>
                  <path d="m2 3 5 3 5-3"></path>
               </g>
            </svg>
            <div class="font-medium text-white/80">
               <p class="text-white/50">MAIL</p>
               <p>pierre.duault.pro@gmail.com</p>
            </div>
         </a>
         <!-- Phone -->
         <div class="card-item">
            <svg
               class="size-25 lg:size-39 text-white/80 font-light"
               height="21"
               viewBox="0 0 21 21"
               width="21"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(5 3)"
               >
                  <path
                     d="m2.5.5h6c1.1045695 0 2 .8954305 2 2v10c0 1.1045695-.8954305 2-2 2h-6c-1.1045695 0-2-.8954305-2-2v-10c0-1.1045695.8954305-2 2-2z"
                  ></path>
                  <path d="m3.5 12.5h4"></path>
               </g>
            </svg>
            <div class="font-medium text-white/80">
               <p class="text-white/50">TELEPHONE</p>
               <p>+33 6 9X XX XX 88</p>
            </div>
         </div>
         <!-- Location -->
         <div class="card-item">
            <svg
               class="size-25 lg:size-39 text-white/80 font-light"
               height="21"
               viewBox="0 0 21 21"
               width="21"
               xmlns="http://www.w3.org/2000/svg"
            >
               <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  transform="translate(4 2)"
               >
                  <path
                     d="m6.5 16.5407715.6311176-.7118691c.71585099-.8191184 1.36011688-1.5983525 1.93279767-2.3377022l.4733382-.6239608c1.97516433-2.6615039 2.96274653-4.77276704 2.96274653-6.33378943 0-3.33218241-2.6862915-6.03344997-6-6.03344997s-6 2.70126756-6 6.03344997c0 1.56102239.98758218 3.67228553 2.96274653 6.33378943l.4733382.6239608c.73630387.9505925 1.5909423 1.9671163 2.56391527 3.0495713z"
                  ></path>
                  <circle cx="6.5" cy="6.5" r="2.5"></circle>
               </g>
            </svg>
            <div class="font-medium text-white/80">
               <p class="text-white/50">LOCALISATION</p>
               <p>Acigne (35)</p>
            </div>
         </div>
      </div>
   </div>
</div>
