---
const { name, logoSrc, colorName } = Astro.props;
---

<div
	class={`border-1 border-card-border flex items-center space-x-5 py-3 px-10 leading-none rounded-full bg-${colorName}/30`}
>
	<div class="size-11 flex items-center justify-center">
		<img
			src={logoSrc.src}
			alt={`Logo de ${name}`}
			class="aspect-square h-full max-h-[1rem] w-auto object-contain mx-auto"
			loading="lazy"
		/>
	</div>
	<span>{name}</span>
</div>
