---
import "../styles/global.css";
import background from '../assets/background.svg';
import Navbar from '../components/navbar.astro'
import Footer from "../components/Footer.astro";
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/picode.ico">
		<meta name="generator" content={Astro.generator} />
		<title>DUAULT Pierre</title>
	</head>
	<body class="relative bg-background text-white max-w-screen">
		<div class="flex justify-center">
			<img class="blur-[100px] fixed w-full -z-10" id="background" src={background.src} alt="" fetchpriority="high" />
			<Navbar currentPath={pathname} />
			<slot />
		</div>
	</body>
	<Footer />
	<script src="/js/script.js" defer></script>
</html>
